{% load static %}
{% load mytag %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>foodgenie</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
    <link rel="stylesheet" href="{% static 'css/custom-fg.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body style="background: rgb(238,238,238);">
<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: #FFCA62;">
    <div class="container"><a class="navbar-brand" href="/"
                              style="font-family: Sacramento, cursive;font-size: 29px;padding-top: 0;padding-bottom: 0;">Food
        Genie</a></div>
</nav>
<section class="text-primary" style="height: 80vh;background: #eeeeee;color: rgb(0, 123, 255);">
    <div id="spacer"></div>
    <div class="recipe-list">
        <div class="recipe">
            <div class="recipe-img">
                {% if recipe.image_path == None %}
                    <img class="recipe-img" style="width: 100%;height: 100%;" src="{% static 'img/default.png' %}">
                {% else %}
                    <img class="recipe-img" style="width: 100%;height: 100%;" src="{{ recipe.image_path }}">
                {% endif %}
            </div>
            <div class="recipe-info"><span class="recipe-info-heading">{{ recipe.name }}</span><span
                    class="recipe-info-detail">{{ recipe.details }}<br><br></span></div>
            <div class="recipe-calorie"><span class="recipe-calorie-text">Calories</span><span
                    class="recipe-calorie-value">{% dictKeyLookup recipe.nutrients "total calories" %}</span></div>
        </div>
        <div class="recipe-detailed-div" style="display: flex;flex-direction: row;margin-bottom: 10px;">
            <div class="recipe-ingredients"><span class="recipe-info-ing-heading">Ingredients</span>
                <ul style="margin-top: 10px;color: black;">
                    {% for ingr in recipe.ingredients %}
                        <li>{{ ingr }}</li>
                    {% endfor %}

                </ul>
            </div>
            <div class="recipe-cooking-info">
                <span>Prep: {{ recipe.preparation_time }}</span><span>Cook: {{ recipe.cooking_time }}</span><span>Total: {{ recipe.total_time}}</span></div>
        </div>
        <div class="recipe-detailed-div" style="display: flex;flex-direction: row;">
            <div class="recipe-ingredients"><span class="recipe-info-ing-heading">Directions</span>
                <ul style="margin-top: 10px;color: black;">
                    {% for dir in recipe.directions %}
                        <li>{{ dir }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<script src=" {% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/tags-handler.js' %}"></script>
</body>

</html>